[Unit]
Description=Solana Test Validator
After=network.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=%HOME%
Environment="PATH=%HOME%/.local/share/solana/install/active_release/bin:%HOME%/.cargo/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=%HOME%/start-validator.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

